In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
url_state_icu = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/icu.csv'
df_state_icu = pd.read_csv(url_state_icu, index_col=0)

In [3]:
df_state_icu

,state,beds_icu,beds_icu_rep,beds_icu_total,beds_icu_covid,vent,vent_port,icu_covid,icu_pui,icu_noncovid,vent_covid,vent_pui,vent_noncovid,vent_used,vent_port_used
date,,,,,,,,,,,,,,,
2020-03-24,Johor,10,22,32,10,11,2,0,0,1,0,0,0,8,0
2020-03-24,Kedah,35,0,35,16,34,0,2,1,12,1,1,0,19,0
2020-03-24,Kelantan,39,0,39,20,42,4,1,0,20,1,0,0,26,0
2020-03-24,Melaka,26,0,26,12,23,4,0,2,12,0,1,0,13,5
2020-03-24,Negeri Sembilan,18,0,18,10,14,9,0,0,8,0,0,0,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-02,Selangor,163,32,195,74,487,17,23,0,99,12,0,51,97,11
2022-02-02,Terengganu,40,21,61,40,66,40,8,0,22,4,0,18,30,14
2022-02-02,W.P. Kuala Lumpur,70,21,91,28,213,28,12,0,58,6,0,13,62,15
2022-02-02,W.P. Labuan,5,7,12,7,33,0,0,0,2,0,0,0,2,0
2022-02-02,W.P. Putrajaya,14,6,20,6,37,0,0,0,7,0,0,5,5,0